<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
	<title>SEC3</title>
	<link rel="stylesheet" href="../static/css/font.css">
	<link rel="stylesheet" href="../static/css/activity.css">
	<script src="../static/js/jquery-3.1.1.min.js"></script>
</head>
<body>
	<div class="content">
		<div class="index section">
			<div class="slider"></div>
			<div class="menu">
				<p class="menuText">MENU <i><img src="../static/img/menu.png" alt=""></i></p>
				<ul id="leaders" style="display: none;">
					<li><a href="index.html">Index</a></li>
					<li><a href="">Information</a></li>
					<li><a href="">Photos</a></li>
					<li><a href="activity.html">Acticities</a></li>
				</ul>
			</div>
			<h1>SOFTWARE CLASS 3</h1>
			<div class="logo"></div>
		</div>
		
		<div class="part2 section">
			<div class="direction left">
				<img src="../static/img/left.png" alt="">
			</div>
			<div class="direction right">
				<img src="../static/img/right.png" alt="">
			</div>
			<div class="pages">
				<div class="page">
					<div class="box"></div>
				</div>
			</div>
		</div>

		<div class="part3 section">
			<div class="part3content">
				<h1>Video</h1>
				<div class="activity">
					<div class="activity-img">
						<img src="../static/img/674528783993979927.jpg" alt="">
						<div class="slider"></div>
					</div>
					<div class="activity-info">
						<h2>天河二号超级计算机参观</h2>
						<p class="abstract">
							概要
						</p>
						<p class="moreinfo">
							<a href="">MORE</a>
						</p>
					</div>
				</div>
				<div class="activity">
					<div class="activity-img">
						<img src="../static/img/110699420055569554.jpg" alt="">
						<div class="slider"></div>
					</div>
					<div class="activity-info">
						<h2>天河二号超级计算机参观</h2>
						<p class="abstract">
							概要
						</p>
						<p class="moreinfo">
							<a href="">MORE</a>
						</p>
					</div>
				</div>
				<div class="activity">
					<div class="activity-img">
						<img src="../static/img/674528783993979927.jpg" alt="">
						<div class="slider"></div>
					</div>
					<div class="activity-info">
						<h2>天河二号超级计算机参观</h2>
						<p class="abstract">
							概要
						</p>
						<p class="moreinfo">
							<a href="">MORE</a>
						</p>
					</div>
				</div>
				<div class="activity">
					<div class="activity-img">
						<img src="../static/img/110699420055569554.jpg" alt="">
						<div class="slider"></div>
					</div>
					<div class="activity-info">
						<h2>天河二号超级计算机参观</h2>
						<p class="abstract">
							概要
						</p>
						<p class="moreinfo">
							<a href="">MORE</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script src="../static/js/activity.js"></script>
</body>
</html>