<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
	<title>SEC3</title>
	<link rel="stylesheet" href="../static/css/font.css">
	<link rel="stylesheet" href="../static/css/index.css">
	<script src="../static/js/jquery-3.1.1.min.js"></script>
</head>
<body>
	<div class="content">
		<div class="index section">
			<div class="menu">
				MENU <i><img src="../static/img/menu.png" alt=""></i>
			</div>
			<h1>SOFTWARE CLASS 3</h1>
			<div class="logo"></div>
		</div>
		
		<div class="part2 section">
			<a href="">
				<img src="../static/img/info.png" alt="" class="info">	
			</a>
			<a href="">
				<img src="../static/img/photo.png" alt="" class="photo">	
			</a>
		</div>

		<div class="part3 section">
			<div class="picture picture1">
				<div class="slider"></div>
				<h2>中山纪念堂<br />志愿行</h2>
			</div>
			<div class="picture picture2">
				<div class="slider"></div>
				<h2>参观<br />天河二号</h2>
			</div>
			<div class="more">
				<a href="">更多活动</a>
			</div>
		</div>
	</div>
	
	<script src="../static/js/index.js"></script>
</body>
</html>