<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
	<title>SEC3</title>
	<link rel="stylesheet" href="../static/css/font.css">
	<link rel="stylesheet" href="../static/css/index.css">
	<script src="../static/js/jquery-3.1.1.min.js"></script>
</head>
<body>
	<div class="content">
		<div class="index section">
			<div class="logo"></div>
			<div class="menu">
				<p class="menuText">MENU <i><img src="../static/img/menu.png" alt=""></i></p>
				<ul id="leaders" style="display: none;">
					<li><a href="index.html">Index</a></li>
					<li><a href="">Information</a></li>
					<li><a href="">Photos</a></li>
					<li><a href="activity.html">Acticities</a></li>
				</ul>
			</div>
			<h1>SOFTWARE CLASS 3</h1>
		</div>
		
		<div class="part2 section">
			<a href="">
				<img src="../static/img/info.png" alt="" class="info">	
			</a>
			<a href="">
				<img src="../static/img/photo.png" alt="" class="photo">	
			</a>
		</div>

		<div class="part3 section">
			<div class="part3content">
				<h1>Activities</h1>
				<div class="activity">
					<div class="activity-img">
						<img src="../static/img/birthday.jpg" alt="">
						<div class="slider"></div>
						<div class="date">
							<span>21</span>/10
						</div>
					</div>
					<div class="activity-info">
						<h2>软三你好</h2>
						<p class="abstract">
							这是软三的第一个班级活动<br>--软三的第一次班会<br>唉~大家怎么都不好好吃蛋糕[摊手]
						</p>
						<p class="moreinfo">
							<a href="activity?activity=first-class-meeting">MORE</a>
						</p>
					</div>
				</div>
				<div class="activity">
					<div class="activity-img">
						<img src="../static/img/674528783993979927.jpg" alt="">
						<div class="slider"></div>
						<div class="date">
							<span>28</span>/10
						</div>
					</div>
					<div class="activity-info">
						<h2>天河二号超级计算机参观</h2>
						<p class="abstract">
							嗯嗯，没错，<br>我们的第二个团日活动<br>是去中大学习的！！
						</p>
						<p class="moreinfo">
							<a href="activity?activity=first-class-meeting">MORE</a>
						</p>
					</div>
				</div>
				<div class="activity">
					<div class="activity-img">
						<img src="../static/img/776873917666006837.jpg" alt="">
						<div class="slider"></div>
						<div class="date">
							<span>29</span>/10
						</div>
					</div>
					<div class="activity-info">
						<h2>中环骑行</h2>
						<p class="abstract">
							夜空中最亮的星<br>能否知道~~
						</p>
						<p class="moreinfo">
							<a href="activity?activity=ride-yellow-bike">MORE</a>
						</p>
					</div>
				</div>
				<div class="activity">
					<div class="activity-img">
						<img src="../static/img/151139455854156540.jpg" alt="">
						<div class="slider"></div>
						<div class="date">
							<span>30</span>/10
						</div>
					</div>
					<div class="activity-info">
						<h2>院运会</h2>
						<p class="abstract">
							软三神威<br><br>无坚不摧
						</p>
						<p class="moreinfo">
							<a href="activity?activity=college-game">MORE</a>
						</p>
					</div>
				</div>
				<div class="activity">
					<div class="activity-img">
						<img src="../static/img/37605457373233784.jpg" alt="">
						<div class="slider"></div>
						<div class="date">
							<span>4</span>/11
						</div>
					</div>
					<div class="activity-info">
						<h2>志愿者岗前通识讲座</h2>
						<p class="abstract">
							准备好了<br>我们明天要去纪念堂<br>大干一场！
						</p>
						<p class="moreinfo">
							<a href="activity?activity=first-class-meeting">MORE</a>
						</p>
					</div>
				</div>
				<div class="activity">
					<div class="activity-img">
						<img src="../static/img/628635632479458910.jpg" alt="">
						<div class="slider"></div>
						<div class="date">
							<span>5</span>/11
						</div>
					</div>
					<div class="activity-info">
						<h2>孙中山诞辰150周年纪念活动</h2>
						<p class="abstract">
							今天<br>我们<br>是驿站活动的<br>主打队伍！
						</p>
						<p class="moreinfo">
							<a href="activity?activity=Sun-Yat-sen-memorial-hall">MORE</a>
						</p>
					</div>
				</div>
				<div class="activity">
					<div class="activity-img">
						<img src="../static/img/男生节.jpg" alt="">
						<div class="slider"></div>
						<div class="date">
							<span>11</span>/11
						</div>
					</div>
					<div class="activity-info">
						<h2>软三男生的 双十一</h2>
						<p class="abstract">
							祝<br>年年有今日<br>岁岁有今朝<br>---软三女生
						</p>
						<p class="moreinfo">
							<a href="activity?activity=first-class-meeting">MORE</a>
						</p>
					</div>
				</div>
				<div class="activity">
					<div class="activity-img">
						<img src="../static/img/小黄车.jpg" alt="">
						<div class="slider"></div>
						<div class="date">
							<span>11</span>/12
						</div>
					</div>
					<div class="activity-info">
						<h2>小黄车问卷调查</h2>
						<p class="abstract">
							小黄车<br>是福利还是挑战？
						</p>
						<p class="moreinfo">
							<a href="activity?activity=first-class-meeting">MORE</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script src="../static/js/index.js"></script>
</body>
</html>