<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
	<title>SEC3</title>
	<link rel="stylesheet" href="../static/css/font.css">
	<link rel="stylesheet" href="../static/css/index.css">
	<script src="../static/js/jquery-3.1.1.min.js"></script>
</head>
<body>
	<div class="index">
		<div class="menu">
			MENU <i><img src="../static/img/menu.png" alt=""></i>
		</div>
		<h1>SOFTWARE CLASS 3</h1>
		<div class="logo"></div>
	</div>
	
	<div class="part2">
		
	</div>
	<script src="../static/js/index.js"></script>
</body>
</html>