@font-face {
	font-family: 'title';
	src: url('../font/title.eot');
	src: url('../font/title.eot?#iefix') format('embedded-opentype'),
	url('../font/title.woff') format('woff'),
	url('../font/title.ttf') format('truetype'),
	url('../font/title.svg#NeuesBauenDemo') format('svg');
	font-weight: normal;
	font-style: normal;
}