* {
    padding: 0px;
    margin: 0px;
    -webkit-tap-highlight-color: rgba(255,0,0,0);
}

a{
	color: white;
	text-decoration: none;
}

ul{
	list-style: none;
}

html,
body {
    min-width: 320px;
    width: 100%;
    height: 100%;
}

.content{
	height: 100%;
}

.index {
    width: 100%;
    height: 100%;
    background-color: #c73232;
    color: white;
}

.index h1 {
    font-family: "title";
    margin-left: 40px;
    padding-top: 20px;
    font-size: 26px;
}

.index .menu {
    float: right;
    font-family: Arial;
    font-size: 20px;
    margin-right: 40px;
    margin-top: 25px;
    margin-left: 10px;
    text-align: right;
}

.index .menu .menuText{
	cursor: pointer;
}

.index .menu img {
    width: 23px;
    position: relative;
    top: 1px;
}

.index .menu ul{
	line-height: 30px;
}

.index .menu li{
	text-align: right;
}

.index .menu ul a:hover{
	text-decoration: underline;
}

.index .logo {
    text-align: center;
    margin-top: 40px;
    position: relative;
    font-size: 0px;
}

.part2 {
    background-image: url(../img/part2bg.jpg);
    background-size: auto 100%;
    background-position: center;
    font-size: 0px;
    text-align: center;
    height: 100%;
    position: relative;
}

.part2 img{
	width: 250px;
	height: 330px;
	position: relative;
	top: 50%;
	margin-top: -165px;
}

.part2 .info{
	margin-right: 200px;
}

.part3{
	padding-bottom: 50px;
	background: -webkit-linear-gradient(left, #FFF, #FFF 50%, #474747 50%, #474747);
	background: -moz-linear-gradient(left, #FFF, #FFF 50%, #474747 50%, #474747);
	background: -ms-linear-gradient(left, #FFF, #FFF 50%, #474747 50%, #474747);
	background: -o-linear-gradient(left, #FFF, #FFF 50%, #474747 50%, #474747);
	background: -webkit-gradient(linear, left, right, from(#FFF), color-stop(0.5, #FFF), color-stop(0.5, #474747), to(#474747));
}

.part3 .part3content{
	width: 580px;
	margin: 0px auto;
}

.part3 h1{
	padding-top: 10px;
	margin-left: 40px;
	font-family: "title";
}

.part3 .activity{
	margin-top: 20px;
	position: relative;
}

.part3 .activity .activity-img{
	width: 400px;
	height: 266px;
	position: relative;
}

.part3 .activity .activity-img img,
.part3 .activity .activity-img .slider{
	width: 100%;
	height: 100%;
}

.part3 .activity .slider{
	position: absolute;
	top: 0px;
	background-color: black;
	opacity: 0.3;
	transition: opacity 0.2s;
}

.part3 .activity .activity-img:hover .slider{
	opacity: 0;
}

.part3 .activity-img .date{
	position: absolute;
	top: 3px;
	left: 15px;
	color: white;
	font-size: 18px;
}

.part3 .activity-img .date span{
	font-size: 38px;
	font-weight: bolder;
	font-family: "Arial";
	position: relative;
	top: 12px;
	margin-right: 3px;
}

.part3 .activity .activity-info{
	position: absolute;
	width: 210px;
	height: 160px;
	top: 33px;
	right: 0px;
	background-color: white;
	padding: 20px;
}

.part3 .activity-info::before{
	content: "";
	display: block;
	position: absolute;
	top: 15px;
	left: 0px;
	width: 0px;
	height: 0px;
	border-width: 8px 15px;
	border-style: solid;
	border-color: transparent;
	border-left-color: black;
}

.part3 .activity-info h2{
	font-size: 18px;
	font-family: "title";
	border-bottom: 1px solid #d0d0d0;
	padding-bottom: 5px;
	margin-bottom: 5px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.part3 .activity-info p{
	display: block;
	height: 100px;
	overflow: hidden;
	word-break: break-all;
	text-overflow: ellipsis;
	line-height: 20px;
}

.part3 .activity-info .moreinfo{
	height: auto;
	padding-top: 6px;
	font-family: "title";
	text-align: right;
}

.part3 .activity-info .moreinfo a{
	color: #c73232;
	text-decoration: none;
}

@media screen and (max-width: 510px){
	.index h1{
		margin-left: 20px;
	}

	.index .menu{
		margin-right: 20px;
	}
}

@media screen and (max-width: 800px){
	.part2 img{
		width: 200px;
		height: 266px;
		margin-top: -133px;
	}

	.part2 .info{
		margin-right: 80px;
	}
}

@media screen and (max-width: 600px){
	.part2{
		height: auto;
		padding-bottom: 50px;
	}

	.part2 img{
		position: static;
		margin: 50px 50px 0px !important;
	}

	.part3 .part3content{
		width: 80%;
		font-size: 0px;
	}

	.part3 .part3content h1{
		padding-top: 20px;
		margin-left: 0px;
		font-size: 24px;
	}

	.part3 .activity .activity-img{
		width: 100% !important;
		height: auto;
	}

	.part3 .activity-img img{
		height: auto;
	}

	.part3 .activity-info{
		position: relative !important;
		top: auto !important;
		width: auto !important;
	}	

	.part3 .activity-info p{
		font-size: 18px;
	}
}
